<div class="modal" tabindex="-1" role="dialog" id="meusChamadoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Meus Chamados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<div id="lista-chamados">
      		<p id="chamado"></p>

		<table class="table" id="lista-table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Assunto</th>
		      <th scope="col">Status</th>
		      <th scope="col">Data</th>
		    </tr>
		  </thead>
		  <tbody>



		  </tbody>
		</table>
	      	<div>

		  <div id="modal-fail-alert" class="alert alert-danger" hidden>
		    <strong>Danger!</strong> Ops! Algo deu errrado. Tente navamente.
		  </div>
      </div>

      <div class="modal-footer">
        <button type="submit" onclick="meus_chamado()" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>