<div class="container-fluid"> 
<div style="margin-left: 40px;">	

<%= render "home/modal-chamado" %>
<%= render "home/modal-sucesso" %>
<%= render "home/meus-chamados" %>

	<script type="text/javascript">
		function meus_chamado(){
			alert("Listar");

		}

		function criar_chamado(){
		    var email = document.getElementsByName("femail")[0].value;
			var assunto = document.getElementsByName("fassunto")[0].value;
			var mensagem = document.getElementsByName("fmensagem")[0].value;

		    let formData = new FormData;
		    let image = $("#anexo");

		    console.log(image[0].files);
		    let qtd_imagem = image[0].files.length;

			var i;
			for (i = 0; i < qtd_imagem; i++) {
				formData.append('anexos['+i+']',image[0].files[i]);				    
			}

		    console.log("length "+image[0].files.length);			    

		    formData.append("id_departamento", "5ea93aef87a12eb63d86c541b5221c5a");
		    formData.append("tipo_identificador", "E");
		    formData.append("titulo", assunto);
		    formData.append("mensagem", mensagem);
		    //formData.append("campos[02410d3c95152f4e3010a4e011586eda]", "Azul");
		    formData.append("campos[84428fe9aa2a5338f6fd9c8b01bf9f1f]", "Broker");
		    

			var end_point="https://api.tomticket.com/criar_chamado/be2df88e637ceb5991f400ae9aebc1a9/";
			const Url = end_point.concat(email);
		
					$.ajax({
						type: "POST",
						enctype: 'multipart/form-data',
						url: Url,
						data: formData,
						cache: false,
	                    contentType: false,
	                    processData: false
					}).done(function(data){
						$('#chamadoModal').modal('toggle');
						$('#modal-sucesso').modal('toggle');

						console.log(data);      
                }).always(function(jqXHR, textStatus){

                }).fail(function(data){
                	$("#modal-fail-alert").show();
                     console.log(data);  
                });
               
	  }
	</script>

</div>
