<div class="container-fluid"> 
<div style="margin-left: 40px;">	
<h1>Sigma Helpdesk</h1>
<h2>Abrir Chamado</h2>
	

	    <label for="exampleInputEmail1">Email</label>
	    <input type="email" class="form-control" name="femail" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

	    <br>
	    <label for="formGroupExampleInput">Assunto</label>
	    <input type="text" class="form-control" name="fassunto" id="assunto" placeholder="Insira o assunto">

	    <label for="exampleFormControlTextarea1">Mensagem</label>
	    <textarea class="form-control" name="fmensagem" placeholder="Insira a mensagem" id="exampleFormControlTextarea1" rows="3"></textarea>

	<br>
    <label for="formGroupExampleInput">Anexo</label>
	    <input type="file" class="form-control" name="ffile" id="assunto" placeholder="Insira o assunto">


	<br>

	<button type="submit" onclick="criar_chamado()" class="btn btn-primary">Submit</button>

	<script type="text/javascript">
		function criar_chamado(){
		    var email = document.getElementsByName("femail")[0].value;
				var assunto = document.getElementsByName("fassunto")[0].value;
				var mensagem = document.getElementsByName("fmensagem")[0].value;		
			
				var end_point="https://api.tomticket.com/criar_chamado/be2df88e637ceb5991f400ae9aebc1a9/";
				const Url = end_point.concat(email);
				console.log(Url);
				const data = {
						id_departamento: "5ea93aef87a12eb63d86c541b5221c5a",
						titulo: assunto,
						mensagem: mensagem,
						tipo_identificador: "E"
						}
					$.post(Url, data, function(data, status){
						console.log('${data} and status is $(status)');
					}, "json");
	  }
	</script>

</div>
