<div class="container-fluid"> 
<div style="margin-left: 40px;">	

<%= render "home/modal-chamado" %>
<%= render "home/modal-sucesso" %>
<%= render "home/meus-chamados" %>

	<script type="text/javascript">

		function meus_chamado(){
			var end_point="https://api.tomticket.com/chamados/be2df88e637ceb5991f400ae9aebc1a9/1?idcliente=cliente1@email.com&tipo_identificacao=E";

					$.ajax({
						type: "GET",
						enctype: 'multipart/form-data',
						url: end_point,
						cache: false,
            contentType: false,
            processData: false
					}).done(function(data){
						listar(filtrar_campos(data));
						console.log(data);      
                }).always(function(jqXHR, textStatus){

                }).fail(function(data){
                	$("#modal-fail-alert").show();
                     console.log(data);  
                }); 
		}		

		function filtrar_campos(data){
			var titulos = [];
			var status = [];
			var data_criacao = [];
			var qtd = 0;

      for (var key in data) {
          // skip loop if the property is from prototype
          if (!data.hasOwnProperty(key)) continue;

          var obj = data[key];
          for (var prop in obj) {
              // skip loop if the property is from prototype
              if(!obj.hasOwnProperty(prop)) continue;

              qtd++;
              titulos.push(obj[prop].titulo);
              status.push(obj[prop].status);
              data_criacao.push(obj[prop].data_criacao);
              console.log("titulo" + " = " + obj[prop].titulo)  
              console.log("status" + " = " + obj[prop].status)            
              console.log("data_criacao" + " = " + obj[prop].data_criacao);
          }
      }

      var filtered_fields = { 
      				qtd: qtd, 
      		    titulos: titulos,
      		    status: status,
      		    datas_criacao: data_criacao
      				}


      console.log(">>>>>>>>>>>>><<<<<<<<<<");
      console.log(titulos);
      console.log(status);
      console.log(data_criacao);

      console.log(filtered_fields);

      return filtered_fields;
		}

		function adicionar_linha(assunto, status, data){
			//Criar Elementos
			var bodyLista = document.getElementById("chamado");
			var linha = document.createElement("tr");
			var campo_indice = document.createElement("td");
			var campo_assunto = document.createElement("td");
			var campo_status = document.createElement("td");
			var campo_data = document.createElement("td");
			var corpo_tabela = document.querySelector("tbody");
			console.log(corpo_tabela);
			// Criar Nós
			var texto_indice = document.createTextNode(" ");
			var texto_assunto = document.createTextNode(assunto); 
			var texto_status  = document.createTextNode(status); 
			var texto_data = document.createTextNode(data); 
			// Vinvular os nós aos elementos
			campo_indice.appendChild(texto_indice);
			campo_assunto.appendChild(texto_assunto);
			campo_status.appendChild(texto_status);
			campo_data.appendChild(texto_data);
			linha.appendChild(campo_indice);
			linha.appendChild(campo_assunto);
			linha.appendChild(campo_status);
			linha.appendChild(campo_data);
			//vincular elemenros ao documentos
				corpo_tabela.appendChild(linha);
		}

		function listar(fields){
			for (var i = 0; i < fields.qtd; i++) {
				adicionar_linha(fields.titulos[i],fields.status[i], fields.datas_criacao[i]);
			}

		}

		function criar_chamado(){
		  var email = document.getElementsByName("femail")[0].value;
			var assunto = document.getElementsByName("fassunto")[0].value;
			var mensagem = document.getElementsByName("fmensagem")[0].value;

	    let formData = new FormData;
	    let image = $("#anexo");

	    console.log(image[0].files);
	    let qtd_imagem = image[0].files.length;

			var i;
			for (i = 0; i < qtd_imagem; i++) {
				formData.append('anexos['+i+']',image[0].files[i]);				    
			}

		    console.log("length "+image[0].files.length);			    

		    formData.append("id_departamento", "5ea93aef87a12eb63d86c541b5221c5a");
		    formData.append("tipo_identificador", "E");
		    formData.append("titulo", assunto);
		    formData.append("mensagem", mensagem);
		    formData.append("campos[84428fe9aa2a5338f6fd9c8b01bf9f1f]", "Broker");		    

				var end_point="https://api.tomticket.com/criar_chamado/be2df88e637ceb5991f400ae9aebc1a9/";
			const Url = end_point.concat(email);
		
					$.ajax({
						type: "POST",
						enctype: 'multipart/form-data',
						url: Url,
						data: formData,
						cache: false,
	                    contentType: false,
	                    processData: false
					}).done(function(data){
						$('#chamadoModal').modal('toggle');
						$('#modal-sucesso').modal('toggle');

						console.log(data);      
                }).always(function(jqXHR, textStatus){

                }).fail(function(data){
                	$("#modal-fail-alert").show();
                     console.log(data);  
                });
               
	  }
	</script>

</div>
